<button class="btn btn-sm btn-danger mt-2" id='deleteButton' >Delete Profile</button>

<script>
    const deleteBtn = document.getElementById('deleteButton');

    deleteBtn.addEventListener('click', async (e) => {
        const payload = {id: '<%= client.id %>'};
        try{
            const response = await fetch('/clients/<%= client.id %>', {
                method: 'DELETE',
                headers: { "Content-Type": "application/json"},
                body: JSON.stringify(payload)
            });

        const result = await response.json()
        if (result.ok){
            window.location.href = '/clients';
        }

        } catch(error){
             console.error('Error: ', error);
        }
    });
</script>